extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    h1 My Products
    if products.length > 0
        .grid
            each product in products
                article.card.product-item 
                    header.card__header 
                        h1.product__title #{product.title}
                    .card__image 
                        img(src="https://imgr.search.brave.com/aGTW8oiVz6MR1yyOFHww0Wovw4mBfVQ6WHntbd1jfOI/fit/1200/1200/no/1/aHR0cDovL2ltYWdl/cy5oZWxsb2dpZ2ds/ZXMuY29tL3VwbG9h/ZHMvMjAxNi8xMi8x/ODA0MzUzOC9zaHV0/dGVyc3RvY2tfOTE1/NTM4MTkuanBn", alt="A Book")
                    .card__content 
                        h2.product__price $19.99
                        p.product__description A very interesting book about so many even more interesting things!
                    .card__actions 
                        button.btn Add to Cart
    else 
        h2 No Products